.player-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaderboard div {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.leaderboard-player {
    width: 50% !important;
    display: flex;
    justify-content: space-between !important;
}

.get-resource-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.get-resource-actions div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.get-resource-actions span {
    display: flex;
    flex-direction: column;
}

.button-footer {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    font-size: 3rem;
}

.button-footer button{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-items {
    width: 100%;
    display: flex;
    align-items: center;
}

.buy-items button {
    width: 25%;
}