.player-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}



.get-resource-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.get-resource-actions div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.get-resource-actions span {
    display: flex;
    flex-direction: column;
}

.button-footer {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    font-size: 3rem;
}

.button-footer button{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    width: 90%;
    height: 1px;
}

.buy-items {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.buy-items div {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.buy-items button {
    width: 50%;
}

